" -------------------------------
"          IdeaVimConfig           
" -------------------------------

" Source NeoVim config file
source ~/.config/nvim/init.vim

" Idea specific settings
set clipboard+=ideaput " Enable native idea paste action for put operations
set ideamarks " Sync IJ bookmarks and Vim marks
set ideajoin " Join command will be performed via IDE
set idearefactormode=keep " Mode on refactoring (keep / select / visual)


" Plugins ---------------------->
set highlightedyank
set NERDTree
set easymotion
set multiple-cursors
" Remap multiple-cursors
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap <C-S-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-r> <Plug>RemoveOccurrence
nmap <leader>mc <Plug>AllWholeOccurrences
nmap <leader>mC <Plug>AllOccurrences


" MapKeys ---------------------->
" -> Navigation 🚕
" Close Windows
map <leader>q <Action>(CloseEditor)
map <leader>Q <Action>(CloseAllEditors)
map <leader>W <Action>(CloseAllEditorsButActive)

" Go to Error
nmap <leader>e <Action>(GotoNextError)
nmap <leader>E <Action>(GotoPreviousError)

" Go to Declaration / Implementation
nmap <leader>o <Action>(GotoDeclaration)
nmap <leader>O <Action>(GotoImplementation)

" Go to class
nmap <leader>y <Action>(GotoClass)
"
" Go to recent file
nmap <leader>h <Action>(RecentFiles)

" Go to Element
map <leader>n <Action>(GotoNextElementUnderCaretUsage)
map <leader>N <Action>(GotoPrevElementUnderCaretUsage)

" Go to Method
map <leader>j <Action>(MethodDown)
map <leader>k <Action>(MethodUp)


" -> Manipulations 🖋️
" Comment line & block
map ,cb <Action>(CommentByBlockComment)
map ,cl <Action>(CommentByLineComment)

" Select all
nmap <leader>a <Action>($SelectAll)

" Move lines
map <S-A-j> <Action>(MoveLineDown)
map <S-A-k> <Action>(MoveLineUp)

" Duplicate line
map <leader>d <Action>(EditorDuplicate)


" -> IDEA 🚀
" Run
map <leader>r <Action>(Run)
map <leader>s <Action>(Stop)

" Gradle
map ,gs <Action>(Android.SyncProject)
map ,gb <Action>(MakeGradleProject)
map ,grb <Action>(RebuildGradleProject)
map ,gc <Action>(CleanGradleProject)

" Vim
nmap <leader>t <Action>(VimFindActionIdAction)
nmap ,sv <Action>(IdeaVim.ReloadVimRc.reload)
nmap ,ev :e ~/.ideavimrc<CR>

" Popups stuff
nmap <leader>u <Action>(FileStructurePopup)
nmap <leader>I <Action>(ShowErrorDescription)
nmap <leader>i <Action>(QuickJavaDoc)
nmap <leader>p <Action>(ParameterInfo)

" Refactoring
nmap ,re <Action>(RenameElement)
nmap ,rs <Action>(ChangeSignature)
vmap ,rf <Action>(ExtractFunction)

" Expend / collapse code
map ,ec <Action>(CollapseRegion)
map ,eC <Action>(CollapseAllRegions)
map ,ee <Action>(ExpandRegion)
map ,eE <Action>(ExpandAllRegions)

" Hide / show all Panes
nmap <leader>l <Action>(HideAllWindows)

" DevKit
nmap <leader>k <Action>(DevKit.ApplyTheme)
nmap <leader>K <Action>(DevKit.RollbackTheme)



"
""
""" Makix - 2023.05.24
